$i : 'img/'

@import bootstrap.css.scss

//body, html
    background: #eee
body
    padding-top: 60px
.content
    background: #fff
.page-header
    background-color: #f5f5f5
    padding: 20px 20px 10px

table
    .points
        text-align: center
    .points-view-open
        input
            display: none
    .points-view-edit
        span, strong
            span
                display: none
    input
        width: 20px

.name
    position: relative
    padding-right: 10px
    .remove
        display: block
        position: absolute
        top: 0px
        right: 0px
        color: red
        cursor: pointer